        
        
        <div class="b_zx_l left">
            <div class="b_zx_l_top color_c">
                <span class="font_18">{$Think.session.user_name}</span> 个人用户
            </div>
            <div class="b_zx_l_mid">
                <p class="b_zx_l_mid_p1">
                    <span>发布稿件</span> <a href="/Member/publish/">{$memright.n_conut}篇</a></p>
                    <p class="b_zx_l_mid_p2">
                        <span>评论 </span><a href="/Member/comment">{$memright.c_conut}篇</a></p>
                    </div>
                    <div class="b_zx_l_bt clearfix">
                        <a href="/Member/account/" class="b_zx_l_bt1 left">修改资料</a> <a href="/Public/logout" class="b_zx_l_bt2 right">退出</a>
                    </div>
                    <div class="b_zx_yonghu">
                        <div class="b_zx_yonghu_img_d">
                            <img src="{$memright.simg}" height="110" width="110" alt="">
                        </div>
                        <p>
                            <span>VIP</span> <em>活跃用户</em>
                        </p>
                    </div>
                </div>