<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/Public/css/css.css">
    <link rel="stylesheet" href="/Public/css/l_style.css">
    <link rel="stylesheet" href="/Public/css/b_css.css">
    <script src="/Public/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/Public/js/b_js.js" type="text/javascript"></script>
    	<script type="text/javascript" charset="utf-8" src="/Public/js/scripts/kindeditor/kindeditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="/Public/js/scripts/kindeditor/lang/zh_CN.js"></script>
	
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="content"]', {
					resizeType : 1,
					allowPreviewEmoticons : false,
					allowImageUpload : false,
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link']
				});
			});
		</script>
		<style>.ke-container{width:auto !important;}</style>
</head>

<body>
    <!-- *****************底部************** -->
<include file="Common:header" />
    <!--  -->
    <div id="b_zx" class="clearfix">
			<include file="Member:memright" />
                <!-- *******个人中心右******** -->
                <div class="b_zx_r right">
                
			<include file="Member:top" />
    
                                    <!-- 账户设置 -->
                                    <div class="b_zx_sz">
                                     <!--  如果不是vip；css中添加 .b_zx_sz_vip_no{display:none;}可隐藏 -->
                                      <div class="b_zx_sz_vip_no">
                                          <p>您还不是VIP会员</p>
                                          <h2>我要升级VIP</h2>
                                      </div>
                                  <!--     左导航 -->
                                      <div class="b_zx_sz_d_d">
                                          <div class="b_zx_r_tit">
                                            <p class="color_f font_18">
                                                账户设置
                                            </p>
                                        </div>
                                        <div class="b_zx_sz_d clearfix">
                                          <div class="left font_16 color_f b_zx_r_wd_content_l">
                                             <div class="b_zx_l_line">
                                                <p></p>
                                            </div>
                                            <ul>
                                               <a href="/Member/account/" style="color:#fff;"><li class="b_zx_r_tit_ed"><span>基本<br>信息</span></li></a> 
                                             <a href="/Member/vip/" style="color:#fff;"><li class="b_zx_r_tit_ed_r"><span>VIP<br>会员</span></li></a>
                                     </ul>
                                 </div>

        
                                 <div class="b_zx_sz_info b_zx_sz_r left">
                                    <table>
                                        <!-- 修改照片 -->
                                        <tr class="b_zx_sz_tx_top">
                                         <td class="b_zx_td1">头像</td>
                                         <td class="b_zx_td2">
                                         <if condition="$simg eq ''">
										<img src="/Public/images/wz_pl_h.png" alt="" width="42px" height="41px">
										    <else />
										<img src="{$simg}" alt="" width="42px" height="41px">
										
										</if>
                                         
                                         
                                         </td>
                                         <td class="b_zx_td3">编辑></td>
                                     </tr>
                                     <tr class="b_zx_sz_tx">
                                         <td colspan="3" >
                                             <div class="clearfix">
                                             <form  method="post"  action="/Member/portrait/" >
                                             
                                       <if condition="$simg eq ''">
                                        <img src="/Public/images/zx_tx_d.png" class="upload-img left" height="83" width="84" alt="" class="left">
										    <else />
										 <img src="{$simg}" class="upload-img left" height="83" width="84" alt="" class="left">
										</if>
                                             
                                               
                                                <input type="hidden" id="txtImgUrl" name="simg" Class="input normal upload-path" />
                                                <div style="" class="upload-box upload-img left browse"></div>
                                                <p class="left">
                                                    仅支持JPG、JPEG、GIF、PNG格式的图片文件，文件不能大于2MB
                                                </p>
                                                <input type="Submit" class="submit_t right"  value="提交">
                                             </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- 修改基本信息 -->
                                    <tr class="b_zx_sz_ b_zx_zl_top">
                                     <td class="b_zx_td1">基本资料</td>
                                     <td class="b_zx_td2"><input type="text" value="{$username}"  disabled="true"></td>
                                     <td class="b_zx_td3">编辑></td>
                                 </tr>
                                 <tr class="b_zx_zl">
                                     <td colspan="3" >
                                         <div>
                                             <div class="clearfix b_zx_zl_d1">
                                               <div class="left b_zx_zl_d_l">
                                                   昵称
                                               </div>
                                               <div class="left b_zx_zl_d_r">
                                                   {$username}
                                               </div>
                                           </div>
                                           <div class="clearfix b_zx_zl_d2">
                                               <div class="left b_zx_zl_d_l">
                                                   简介
                                               </div>
                                               <div class="left b_zx_zl_d_r">
                                                <form  method="post"  action="/Member/introduction/" >
                                                 <textarea name="introduction" id="" cols="30" rows="10">{$introduction}</textarea>
                                                  <input type="Submit" class="submit_t right"  value="提交">
                                                  </form>
                                             </div>
                                         </div>
                                     </div>
                                 </td>
                             </tr>
                             <!-- 修改密码 -->
                             <tr class="b_zx_mm_top">
                                 <td class="b_zx_td1">密码</td>
                                 <td class="b_zx_td2"><input type="password" value="111111" disabled="true"></td>
                                 <td class="b_zx_td3">编辑></td>
                             </tr>
                              
                             <tr class="b_zx_mm">
                                 <td colspan="3" >
                                     <div>
                                     <form  method="post"  action="/Member/pass/" >
                                         <p>
                                             <label for="b_zx_pw1">旧密码</label>
                                             <input type="password" name="password" id="used_pass" class="b_zx_pw">
                                         </p>
                                         <p>
                                             <label for="b_zx_pw2" >新密码</label>
                                             <input type="password" name="pass" id="pass" class="b_zx_pw">
                                         </p> 
                                         <p>
                                             <label for="b_zx_pw3">确认密码</label>
                                             <input type="password" name="pass1"  id="pass1" class="b_zx_pw">
                                         </p>
                                     </div>
                                     <input type="submit" value="确认" onclick="return editpass()" >
                                      </form>
                                 </td>
                             </tr>
                            
                           <!--   修改邮箱 -->
<!--                              <tr class="b_zx_yx_top">
                                 <td class="b_zx_td1">绑定邮箱</td>
                                 <td class="b_zx_td2"><input type="text" value="111111"  disabled="true" class="b_zx_td2_bianji"> </td>
                                 <td class="b_zx_td3">编辑></td>
                             </tr>
                             <tr class="b_zx_yx">
                                 <td colspan="3" >
                                     <div>
                                         <p>
                                            <span>当前邮箱</span>
                                            <span class="b_zx_yx_s2">无</span>
                                        </p>
                                        <p>
                                            <span>邮箱</span>
                                            <input type="text" placeholder="请输入您的邮箱账号" class="b_zx_yx_s2">
                                        </p> 
                                        <a href="#">前往邮箱验证</a>
                                    </div>

                                </td>
                            </tr> -->
                           <!--  修改手机号 -->
<!--                             <tr class="b_zx_sz_sj_edit_top">
                             <td class="b_zx_td1">绑定手机号</td>
                             <td class="b_zx_td2"><input type="text" value="{$phone}"  disabled="true"></td>
                             <td class="b_zx_td3">编辑></td>
                         </tr> -->
<!--                          <tr class="b_zx_sz_edit_sj">
                             <td colspan="3" >
                                 <div>
                                     <p>
                                         <span>当前手机号</span>
                                         <span class="b_zx_yx_s2">无</span>
                                     </p>
                                     <p>
                                        <span>手机</span>
                                        <input type="text" placeholder="请输入您要绑定的手机号" class="b_zx_sz_sj_input">
                                        <em class="b_zx_sz_edit_sj_em1">获取验证码</em>
                                    </p> 
                                    <p>
                                        <span>验证码</span>
                                        <input type="text" placeholder="请输入验证码" class="b_zx_sz_sj_input">
                                        <em class="b_zx_sz_edit_sj_em2">确认绑定</em>
                                    </p> 
                                </div>

                            </td>
                        </tr> -->
                        <!-- 第三方 -->
                        <tr class="b_zx_vip_top">
                         <td class="b_zx_td1">第三方账号绑定</td>
                         <td class="b_zx_td2">

                         </td>
                         <td class="b_zx_td3">编辑></td>
                     </tr>
                     <tr class="b_zx_vip">
                      <td colspan="3">
                          <div class="clearfix">
                              <div class="b_zx_vip_l left">
                                  <img src="/Public/images/zx_w_d.jpg" height="53" width="58" alt="">
                              </div>
                              <div class="b_zx_vip_r left">
                                  <a href="#">绑定微信</a>
                              </div>
                          </div>
                          <div class="clearfix">

                              <div class="b_zx_vip_l left">
                                  <img src="/Public/images/zx_q_d.jpg" height="46" width="46" alt="">
                              </div>
                              <div class="b_zx_vip_r left">
                                  <a href="#">绑定QQ</a>
                              </div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

</div>
</div>
</div>

<!--  -->
</div>
<!-- ************* -->
</div>
<!-- 交易记录放大 -->
<div class="b_zx_jl_fd">
    <div class="b_zx_jl_fd_m"></div>
    <div class="b_zf_info">
      <ul>
          <li class="clearfix">
              <div class="left b_zf_info_l b_zf_info_ll1"></div>
              <div class="left b_zf_info_r">
                <h2> 杨志峥<span class="font_18">（民事诉讼）</span></h2>  
            </div>
        </li>
        <li class="clearfix">
            <div class="left b_zf_info_l b_zf_info_ll2"></div>
            <div class="left b_zf_info_r">
              <span class="font_18">磅礴新闻民事诉讼资深律师</span>
          </div>
      </li>
      <li class="clearfix">
          <div class="left b_zf_info_l b_zf_info_ll3"></div>
          <div class="left b_zf_info_r">
            <span class="font_18">136612548546</span>
        </div>
    </li>
    <li class="clearfix">
      <div class="left b_zf_info_l b_zf_info_ll4"></div>
      <div class="left b_zf_info_r ">
       <span class="font_18">026-56845214</span>
   </div>
</li>
<li class="clearfix">
  <div class="left b_zf_info_l b_zf_info_ll5"></div>
  <div class="left b_zf_info_r b_zf_info_r_no_border">
   <span class="font_18">iwgl@vip.qq.com</span>
</div>
</li>
<li class="clearfix">

  <div class="right">
   <span class="font_18 b_zf_fasong">点击发送邮件</span>
</div>
</li>
</ul>
</div>
</div>
<!-- *****************底部************** -->
<include file="Common:footer" />
</body>
</html>
 