<a href="/Member/manuscript/" style="color:#fff"><li <if condition="$select eq 1 ">class="b_zx_r_tit_ed_r"</if>><span>我要<br> 投稿 </span></li></a>
<a href="/Member/publish/" style="color:#fff"><li <if condition="$select eq 2 " >class="b_zx_r_tit_ed_r"</if> style=" line-height: 40px;"><span>已发表 </span></li></a>
<a href="/Member/review/" style="color:#fff"> <li <if condition="$select eq 3 ">class="b_zx_r_tit_ed_r"</if> style=" line-height: 40px;"><span>审核中 </span></li></a>
<a href="/Member/rejection" style="color:#fff"><li <if condition="$select eq 4 ">class="b_zx_r_tit_ed_r"</if> style=" line-height: 40px;"><span>已退稿 </span></li></a>
<a href="/Member/draft" style="color:#fff"><li <if condition="$select eq 5 ">class="b_zx_r_tit_ed_r"</if> style=" line-height: 40px;"><span>草稿箱 </span></li></a>
<if condition="$select eq 6 "><li class="b_zx_r_tit_ed_r" ><span>文章<br>修改 </span></li></if>