<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<!--IOS中Safari允许全屏浏览：-->
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<!--IOS中Safari顶端状态条样式：-->
	<meta content="telephone=no" name="format-detection">
	<title>{$title}</title>
	<script type='text/javascript' src='/Public/wap/lib/zepto/zepto.min.js'></script>
	<script type='text/javascript' src='/Public/wap/lib/swiper/js/swiper-3.3.1.jquery.min.js'></script>
	<script type='text/javascript' src='/Public/wap/dist/js/JS.js'></script>
	<link rel="stylesheet" href="/Public/wap/lib/css/css.css" type='text/css'>
	<link rel="stylesheet" href="/Public/wap/lib/swiper/css/swiper-3.3.1.min.css" type='text/css'>
	<link rel="stylesheet" href="/Public/wap/dist/css/style.css" type='text/css'>
</head>
<body class="bk222">
	<header class="header er-header">
		<p class="text-center pos-a tl0 f18 cfff">新闻公告</p>
		<img src="/Public/wap/images/back.png"  alt="" class="back pos-r" id="goBack">
	</header>	
	<div class="content er-content pic-down newDetail">
		<div class="content p10">
			<h1 class="f20 fn">{$title}</h1>
			<em class="time c999">{$addtime|date="Y-m-d",###}</em>
			<div class="txt f18 c333">
				<p>{$content}</p>
			</div>
		</div>
	</div>
</body>
</html>